*{box-sizing: border-box;}

.loading__page{
    text-align: center;
}

.loading__page h1{
    font-variant: small-caps;
    font-size: 400%;
    color:#00BFFF;
    text-shadow: 0 0 2px #00BFFF;
}

.header{
    text-align: center;
    background-color: black;
    color: white;
    font-variant: small-caps;
    padding : 1%;
}

.header h1{
    margin : 0;
}